# first and last name: Nicola Ricci Maccarini
# serial number: 185792
#
# path: $HOME/.config/systemd/user/file-cleaner.service

[Unit]
Description=File Cleaner Service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/file-cleaner
ExecStart=/usr/bin/python3 app.py --path %h/myapp --extension .tmp