# first and last name: Nicola Ricci Maccarini
# serial number: 
#
# path: ~/.config/systemd/user/file-archiver.service

[Unit]
Description=file archiver service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/file-archiver
ExecStart=/usr/bin/python3 app.py --path %h/mydocs --seconds 30