# nome e cognome:
# matricola:
#
# path: ~/.config/systemd/user/disk-usage-monitor.timer
#
# comando per abilitare il timer: systemctl --user enable disk-usage-monitor.timer
# comando per avviare il timer: systemctl --user start disk-usage-monitor.timer

[Unit]
Description=disk usage monitor timer

[Timer]
Unit=disk-usage-monitor.service
OnCalendar=*:0/2

[Install]
WantedBy=timers.target